p.technical-list {
  margin: 0;
  font-family: system-ui;
  font-size: 13px;
}

.technical-title {
  margin-bottom: 0;
}

h3 a,
.technical-list a {
  cursor: pointer;
}

.vertical-timeline::before {
  background: #e9d35b;
}